<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>


</head>
<body>
<a href="{% url 'students:student-detail' student.pk %}">Go back to {{ student.first_name }} {{ student.last_name }}</a>
<hr />
<h1>Update student {{ student.first_name }} {{ student.last_name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
</body>
</html>