<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School CRM</title>
    <style>
        .student {
            padding: 10px 6px;
            margin-top: 10px;
            background-color: rgba(60, 145, 207, 0.07);
            width: 100%;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock content %}
    {% include "scripts.html" %}
</body>
</html>